<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../web-component-tester/browser.js"></script>
    <script src="../../test-fixture/test-fixture-mocha.js"></script>

    <link rel="import" href="../../polymer/polymer.html">
    <link rel="import" href="../seed-element.html">
  </head>

  <body>
    <test-fixture id="myEl">
      <template>
        <seed-element></seed-element>
      </template>
    </test-fixture>

    <script>
      suite('<seed-element> tag', function() {
        var myEl;

        setup(function() {
          myEl = fixture('myEl');
        });

        teardown(function() {
          myEl.remove();
        });

        suite('in general', function() {
          test('should be in document', function() {
            expect(myEl).not.to.be.undefined;
          });

          test('should have "is" property equal to "seed-element"', function() {
            expect(myEl).to.have.property('is');
            expect(myEl.is).to.be.equal('seed-element');
          });
        });
      });
    </script>
  </body>
</html>
