<link rel="import" href="../polymer/polymer.html">

<!--
# seed-element

Data manager description.

Example:
```html
<seed-element></seed-element>
```

## Data model
[comment]: <> (use either one of the data model docs examples)

Canonical DM: 'entityName', example available [List of entities]

Component own DM example:

```json
{}
```

@demo demo/index.html
-->

<dom-module id="seed-element">
  <template>
    <dp-seed-element id="dp" endpoint="[[endpoint]]" on-response="_onResponse" on-error="_onError">
    </dp-seed-element>
    <dp-seed-element-2 id="dp2" endpoint="[[endpoint]]" last-response="{{dp2response}}" last-error="{{dp2error}}">
    </dp-seed-element-2>
  </template>
  
  <script src="seed-element.js"></script>
</dom-module>

