<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Demo seed-element</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../../polymer/polymer.html">
    <link rel='import' href='../../service-caller-form/service-caller-form.html'>
    <link rel="import" href="../seed-element.html">
    <script src="./mocks/mocks.js"></script>
  </head>
  <body>
    <template is="dom-bind" id="demo">
      <service-caller-form></service-caller-form>
    </template>
    <script type="text/javascript" src="js/demo.js"></script>
  </body>
</html>
