<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-ajax-behavior/cells-ajax-behavior.html">

<!--
# seed-element

Data provider description.

Example:
```html
<seed-element></seed-element>
```

It exposes `last-response`, `last-error` and `last-request` as properties that will be updated (as the case may be) once `generateRequest` is called.
Also, It fires `response`, `error` and `request-in-progress`.

@demo demo/index.html
-->

<script src="seed-element.js"></script>
