<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../web-component-tester/browser.js"></script>

    <!-- Step 1: import the element to test -->
    <link rel="import" href="../seed-element.html">
  </head>
  <body>

    <!-- You can use the document as a place to set up your fixtures. -->
    <seed-element></seed-element>

    <script>
      var myEl = document.querySelector('seed-element');
      suite('<seed-element>', function() {
        test('defines the "welcome" property', function() {
          assert.equal(myEl.welcome.title, 'Welcome to Cells');
          assert.equal(myEl.welcome.image, '../images/cells.svg');
        });
      });
    </script>
  </body>
</html>
