<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../web-component-tester/browser.js"></script>

    <!-- Step 1: import the element to test -->
    <link rel="import" href="../seed-element.html">
  </head>
  <body>

    <!-- You can use the document as a place to set up your fixtures. -->
    <seed-element id="myEl"></seed-element>

    <script>
    var myEl;
    /*
    * @type {suiteSetup}
    *
    * @webcomponent {myEl}
    * @property {property1, property2, property3}
    */
    suiteSetup(function(){
        myEl = document.querySelector('#myEl');
        /*
        ---  EXAMPLES  ---

        myEl.set('property1',"value of setting");
        */
    });

    /*
    * @type {functions}
    *
    * Check functions.
    *
    * @component {myEl}
    * @method {name-function}
    */
    suite('4.- Check functions', function() {
      /*
      * @type {functions}
      *
      * Description function.
      *
      * @component {myEl}
      * @method {name-function}
      */
      /*
      suite('4.1.- Check function hideFoggy', function() {
        test('property1 not run', function() {
          expect(myEl.property1).to.be.equal(true);
          myEl.name-function();
          expect(myEl.property1).to.be.equal(true);
        });
      });
      */
    });

    </script>
  </body>
</html>
