<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Demo seed-element</title>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../polymer/polymer.html">
<% if (useTheme) { %><% if (themeBase) { %>
    <link rel="import" href='../../theme-base/theme-base.html'><% } %>
    <link rel="import" href='../../<%= themeName %>/<%= themeName %>.html'>
<% } %>
    <link rel="import" href="../seed-element.html">
    <link rel="import" href="../../cells-demo-mobile/cells-demo-mobile.html">
    <link rel="import" href="css/demo-styles.html">
<% if (i18n) { %>
    <script src="js/I18nMsg.js"></script>
<% } %>
  </head>
  <body ontouchstart unresolved>
    <template is="dom-bind" id="demo">
<% if (i18n) { %>
      <!-- language selector: i18n purpose -->
      <div class="lang-selector">
        <label class="lang" for="selector">Lang</label>
        <select class="selector" id="selector" on-change="setDocumentLang">
          <option selected>en</option>
          <option>es</option>
          <!-- include as many languages you have: /locales/*.json -->
        </select>
      </div>
      <!-- .end of language selector -->
<% } %>
      <cells-demo-mobile>
        <seed-element heading="[[heading]]">
          <img src="images/cells.svg" alt="">
        </seed-element>
      </cells-demo-mobile>
    </template>

    <script src="js/demo.js"></script>
  </body>
</html>
