<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes" name="viewport">
    <title>seed-element Demo</title>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../polymer/polymer.html">

<!-- Add theme-->
    <!-- Example: -->
    <!-- (Remember to add the dependency into bower.json file) -->
    <!-- <link href="../../bbva-ui-theme/bbva-ui-theme.html" rel="import"> -->
<!-- End theme-->
    <link href="../seed-element.html" rel="import">
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      html,
      body {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <seed-element welcome='{"title": "Welcome to Cells", "image": "../images/cells.svg"}'></seed-element>
    <script></script>
  </body>
</html>
