<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="seed-element-styles.html">
<% if (i18n) { %>
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<% } %>
<!--
`<seed-element>` description.

Example:

```html
<seed-element></seed-element>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --seed-element-scope      | scope description | default value  |
| --seed-element  | empty mixin     | {}             |

@demo demo/index.html
-->
<dom-module id="seed-element">
  <template>
    <style include="seed-element-styles seed-element-shared-styles"></style>
    <% if (i18n) { %>
    <h1>{{t('seed-element-welcome', lang)}} Cells</h1>
    <% } else { %>
    <h1>Welcome to Cells</h1>
    <% } %>
    <content></content>
  </template>
  <script src="seed-element.js"></script>
</dom-module>
