<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="seed-element-styles.html">

<!--
`<seed-element>` description.

Example:

```html
<seed-element></seed-element>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --seed-element-scope      | scope description | default value  |
| --seed-element  | empty mixin     | {}             |

@demo demo/index.html
-->
<dom-module id="seed-element">
  <template>
    <style include="seed-element-styles seed-element-shared-styles"></style>
    <slot></slot>
  </template>
  <script src="seed-element.js"></script>
</dom-module>
