<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="seed-element-styles.html">
<% if (i18n) { %>
<link rel="import" href="../cells-i18n-msg/cells-i18n-msg.html">
<% } %>
<!--
Your component description.

Example:

```html
<seed-element></seed-element>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:---------------:|:---------------:| :-------------:|
| --your-var      | var description | default value  |
| --seed-element  | empty mixin     | {}             |

@demo demo/index.html
-->
<dom-module id="seed-element">
  <template>
    <style include="seed-element-styles"></style>
    <h1 class="ocultar">{{welcome.title}}</h1>
     <img src="{{welcome.image}}" alt="">
    <content></content>
  </template>
  <script>
  Polymer({

    is: 'seed-element',

    properties: {
      /**
       * Describes the title of the element, but is really just an excuse to
       * show off JSDoc annotations.
       *
       * @type {{title: string, image: string}}
       */
       welcome: {
         type: Object,
         // Use `value` to provides a default value for a property, by setting it
         // on your element's prototype.
         //
         // If you provide a function, as we do here, Polymer will call that
         // _per element instance_.
         //
         // We do that to ensure that each element gets its own copy of the
         // value, rather than having it shared across all instances (via the
         // prototype).
         value: function() {
           return {
             title: 'Welcome to Cells',
             image: '../images/cells.svg'
           };
         }
       }
    }
  });
  </script>
</dom-module>
