@import "../cells-sass/main";
:host {
  //Styling
  min-height: 100%;
  color: var(--text-primary);
  background-color: var(--background-primary);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img{
  max-width: 25vw;
}
:host {
  @apply(--seed-element);
}
