<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="seed-element-styles.html">
<% if (i18n) { %>
<link rel="import" href="../cells-i18n-msg/cells-i18n-msg.html">
<% } %>
<!--
Your component description.

Example:

```html
<seed-element></seed-element>
```

## Data model
[comment]: <> (use either one of the data model docs examples)

Canonical DM: 'entityName', example available [List of entities](http://bbva-files.s3.amazonaws.com/cells/bbva-catalog/index.html?guide=wu2_dataModelEntitiesAndDefinition)

Component own DM example:
```json
{}
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:---------------:|:---------------:| :-------------:|
| --your-var      | var description | default value  |
| --seed-element  | empty mixin     | {}             |

@demo demo/index.html
-->
<dom-module id="seed-element">
  <template>
    <style include="seed-element-styles"></style>
    <h1 class="ocultar">{{welcome.title}}</h1>
     <img src="{{welcome.image}}" alt="">
    <content></content>
  </template>
  <script src="seed-element.js"></script>
</dom-module>
